<?xml version="1.0" encoding="utf-8" ?>
<project name="六扇门">
  <ftp>
    <ip>123.206.82.217</ip>
    <port>2101</port>
    <account>yzry_yanfa_upload_cdn</account>
    <pwd>eniyAVYLy6nkRKN1iQTdf0WzqGlXDn6q</pwd>
  </ftp>
  <platform name="_____勇者____测试用" type="Android">
    <ftpUrl>/android/test/RemoteVersion.xml</ftpUrl>
  </platform>
  <platform name="_____勇者____yumoon（腾讯众测）" type="Android">
    <ftpUrl>/android/yumoon/RemoteVersion.xml</ftpUrl>
  </platform>
  <platform name="_____勇者____雨墨" type="Android">
    <ftpUrl>/android/yumo/RemoteVersion.xml</ftpUrl>
  </platform>
  <platform name="_____勇者____UC" type="Android">
    <ftpUrl>/android/uc/RemoteVersion.xml</ftpUrl>
  </platform>
</project>