<?xml version="1.0" encoding="utf-8" ?>
<project name="六扇门">
  <ftp>
    <ip>123.206.82.217</ip>
    <port>2101</port>
    <account>yzry_yanfa_upload_cdn</account>
    <pwd>eniyAVYLy6nkRKN1iQTdf0WzqGlXDn6q</pwd>
  </ftp>
  <platform name="_____勇者____小米" type="Android">
    <ftpUrl>/android/RemoteVersion.xml</ftpUrl>
  </platform>
  <platform name="_____勇者____华为" type="Android">
    <ftpUrl>/android/yumoon/RemoteVersion.xml</ftpUrl>
  </platform>
  <platform name="_____勇者____魅族" type="Android">
    <ftpUrl>/YZTest/meizu/RemoteVersion.xml</ftpUrl>
  </platform>
</project>